body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.secondary {
    font-weight: 300;
    font-size: 32px;
    color: #ffffff;
}

.subheader {
    color: grey;
    font-size: 21;
}

.link--style {
    font-size: 16px;
    color: aquamarine;
}

.footer {
    text-align: right;
    color: grey
    font-size: 16;
}